:root {
  --black: #050529;
  --grey: #6e6e73;
  --light-grey: rgba(0, 0, 0, 0.16);
  --green: #63da9d;
  --blue: #0066cc;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
/*---------------- Site Navigation CSS ----------------*/
#nav {
  display: flex;
  align-items: center;
  height: 53px;
  border-bottom: 1px solid var(--light-grey);
  color: var(--black);
}

#nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 980px;
}

#site-name {
  font-size: 24px;
  font-weight: 600px;
}

#nav-selectables {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.selectable {
  display: flex;
}

.mobile-view-selectable {
  display: none;
}

.chevron {
  width: 12px;
  margin-left: 3px;
}

#login-button {
  display: flex;
}

#login-text {
  background-color: var(--green);
  padding-top: 5px;
  padding-bottom: 5px;
}

#login-button div:first-child{
  width: 25px;
  background-color: var(--green);
  border-radius: 50% 0 0 50%;
}

#login-button div:last-child{
  width: 25px;
  background-color: var(--green);
  border-radius: 0 50% 50% 0;
}

/*Site Navigation mobile view media queries*/
@media only screen and (max-width: 734px) {
  #nav-content {
    width: 280px;
  }

  #site-name {
    font-size: 21px;
  }
  #nav-selectables {
    width: 108px;
  }

  .selectable {
    display: none;
  }

  .mobile-view-selectable {
    display: flex;
  }
}

/*----------------Main Content CSS ----------------*/
#content {
  width: 980px;
  margin: 0 auto;
}

/*---------------- Headline CSS ----------------*/
.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.title {
  text-align: center;
  width: 877px;
  font-size: 80px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 38px;
}

.headline p {
  text-align: center;
  width: 530px;
  font-size: 24px;
  color: var(--grey);
  margin: 0px;
}

/*Headline mobile view media queries*/
@media only screen and (max-width: 734px) {
  #content {
    width: 280px;
  }
  .headline {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .title {
    width: 282px;
    font-size: 32px;
    margin-bottom: 18px;
  }

  .headline p {
    width: 242px;
    font-size: 14px;
  }
}

/*---------------- Content Break CSS ----------------*/
.content-break {
  width: 980px;
  height: 1px;
  margin: 0 auto;
  background-color: var(--light-grey);
}

/*Content Break tablet view media queries*/
@media only screen and (max-width: 1068px) {
  .content-break {
    width: 720px;
  }
}

/*Content Break mobile view media queries*/
@media only screen and (max-width: 734px) {
  .content-break {
    width: 280px;
  }
}


/*---------------- Contact Methods CSS ----------------*/
.contact-methods {
  margin-top: 60px;
  margin-bottom: 60px;
}

.contact-methods ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-left: 0px;
}

.contact-methods ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 246px;
}

.contact-methods ul li div {
  margin-top: 19px;
  margin-bottom: 11px;
  font-size: 19px;
  width: 100%;
  text-align: center;
}

.contact-methods ul li a{
  color: var(--blue);
  text-decoration: none;
  font-size: 19px;
}

.contact-methods ul li a:hover {
  text-decoration: underline;
}

.contact-methods ul li a .chevron {
  filter: invert(23%) sepia(70%) saturate(4641%) hue-rotate(199deg) brightness(91%) contrast(102%);
  transform: rotate(-90deg);
}

/*Contact Methods mobile view media queries*/
@media only screen and (max-width: 734px) {
  .contact-methods ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .contact-methods ul li:nth-child(2) {
    margin-top: 60px;
  }

}

/*---------------- Team Section CSS ----------------*/
.team {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team p {
  width: 486px;
  font-size: 24px;
  color: var(--grey);
  margin: 0px;
  text-align: center;
}

.team ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  width: 891px;
}

.team li {
  width: 229px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.left {
  margin-right: 102px;
}

.right {
  margin-left: 102px;
}
.mask {
  height: 200px;
  width: 200px;
  border: solid 1px #6e6e73;
  border-radius: 50%;
  margin-bottom: 24px;
}

.name {
  height: 44px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.role {
  margin-bottom: 24px;
  font-size: 17px;
}

.contact {
  font-size: 17px;
}

/*Team section mobile view media queries*/
@media only screen and (max-width: 734px) {
  .team {
    padding: 60px 0;
  }

  .team p {
    width: 242px;
    font-size: 14px;
  }

  .team ul {
    width: 242px;
    padding-left: 0px;
    flex-direction: column;
    margin-top: 0px;
    align-items: center;
  }

  .left {
    margin-right: 0px;
  }

  .right {
    margin-left: 0px;
  }
}

/*---------------- Footer CSS ----------------*/
#footer {
  height: 113px;
  background-color: #f5f5f7;
}

#footer-content {
  color: var(--grey);
  font-size: 12px;
  width: 980px;
  margin: 0 auto;
}

#footer-text {
  padding-top: 34px;
  padding-bottom: 8px;
}

#footer-copyright{
  padding-top: 9.1px;
}
/*Footer tablet view media queries*/
@media only screen and (max-width: 1068px) {
  #footer-content {
    width: 720px;
  }
}

/*Footer mobile view media queries*/
@media only screen and (max-width: 734px) {
  #footer-content {
    width:280px;
  }
}