:root {
  --black: #050529;
  --grey: #6e6e73;
  --light-grey: rgba(0, 0, 0, 0.16);
  --green: #63da9d;
  --blue: #0066cc;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/*---------------- Content Break CSS ----------------*/
.content-break {
  width: 980px;
  height: 1px;
  margin: 0 auto;
  background-color: var(--light-grey);
}

/*Content Break tablet view media queries*/
@media only screen and (max-width: 1068px) {
  .content-break {
    width: 720px;
  }
}

/*Content Break mobile view media queries*/
@media only screen and (max-width: 734px) {
  .content-break {
    width: 280px;
  }
}

/*---------------- Site Navigation CSS ----------------*/
#nav {
  display: flex;
  align-items: center;
  height: 53px;
  border-bottom: 1px solid var(--light-grey);
  color: var(--black);
}

#nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 980px;
}

#site-name {
  font-size: 24px;
  font-weight: 600px;
}

#nav-selectables {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.selectable {
  display: flex;
}

.chevron {
  width: 12px;
  margin-left: 3px;
}

#login-button {
  display: flex;
}

#login-text {
  background-color: var(--green);
  padding-top: 5px;
  padding-bottom: 5px;
}

#login-button div:first-child{
  width: 25px;
  background-color: var(--green);
  border-radius: 50% 0 0 50%;
}

#login-button div:last-child{
  width: 25px;
  background-color: var(--green);
  border-radius: 0 50% 50% 0;
}

/*Site Navigation mobile view media queries*/
@media only screen and (max-width: 734px) {
  #nav-content {
    width: 280px;
  }

  #site-name {
    font-size: 21px;
  }
  #nav-selectables {
    width: 108px;
  }

  .selectable {
    display: none;
  }

  .mobile-view-selectable {
    display: flex;
  }
}

/*----------------Main Content CSS ----------------*/
#content {
  width: 980px;
  margin: 0 auto;
}

@media only screen and (max-width: 734px) {
  #content {
    width: 280px;
  }
}

/*---------------- Headline CSS ----------------*/
.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 120px;
}

.headline div{
  text-align: center;
  width: 877px;
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 38px;
  color: var(--black);
}

.headline p{
  font-size: 24px;
  width: 386px;
  text-align: center;
  color: var(--grey)
}

/*Headline mobile view media queries*/
@media only screen and (max-width: 734px) {
  .headline {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 87px;
  }

  .headline div {
    width: 282px;
    font-size: 32px;
    margin-bottom: 18px;
  }

  .headline p {
    width: 242px;
    font-size: 14px;
    margin: 0;
  }
}

/*---------------- Tab Navigation CSS ----------------*/
.navigation {
  text-align: center;
  overflow: auto;
  white-space: nowrap;
  height: 57px;
}

.navigation div {
  display: inline-block;
  padding: 0px 30px 14px 30px;
  border-bottom: 1px solid #d2d2d7;
  margin-right: -5px;
}

.navigation div.first {
  padding-left: 249px;
}

.navigation div.last {
  padding-right: 249px;
}

.navigation div a{
  color: var(--grey);
  text-decoration: none;
}

.navigation div a.current, .navigation div a:hover {
  color: var(--black);
  padding-bottom: 14px;
  border-bottom: 1px solid var(--black);
}

.pipe, .arrow {
  display: none;
}

@media only screen and (max-width: 1068px) {
  .navigation div.first {
    padding-left: 135px;
  }
  
  .navigation div.last {
    padding-right: 135px;
  }
}

/*Tab Navigation mobile view media queries*/
@media only screen and (max-width: 734px) {
  .tab-nav {
    display: flex;
    width: 280px;
    align-items: center;
  }

  .navigation div.first {
    padding-left: 30px;
  }
  
  .navigation div.last {
    padding-right: 30px;
  }

  .pipe {
    z-index: 3;
    display: flex;
    width: 1px;
    height: 78px;
    margin: 0 10.5px 0 0;
    background-color: #d2d2d7;
    padding: 0;
  }
  .arrow {
    z-index: 3;
    transform: rotate(-90deg);
    display: flex;
    width: 12px;
    height: 20px;
    opacity: 0.8;
    margin: 15px 0 17px 0;
    line-height: 1.18;
    color: var(--black);
  }
}

/*---------------- Navigation Content CSS ----------------*/
#navigation-content {
  width: 652px;
  margin: 60px auto;
  color: var(--black);
}

.content-headline {
  font-size: 64px;
  font-weight: 600;
  margin-top: 80px;
  margin-bottom: 80px;
}

.content-subcontent {
  margin-bottom: 48px;
}

.content-subheadline {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 17px;
}

.content-info {
  color: var(--grey);
  font-size: 17px;
  line-height: 1.47;
}

.content-link {
  text-decoration: none;
  color: var(--blue);
}


#performance-list {
  padding-left: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}

#performance-list li {
  padding-left: 10px;
  margin-bottom: 15px;
}

#final-div {
  margin-top: 17px;
  margin-bottom: 80px;
}

/*Navigation Content mobile view media queries*/
@media only screen and (max-width: 734px) {
  #navigation-content {
    width: 280px;
    margin-top: 37px;
  }

  .content-headline {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 60px;
  }

  .content-subcontent {
    margin-bottom: 60px;
    width: 242px;
  }

  .content-subheadline {
    font-size: 21px;
  }

  .content-info {
    font-size: 14px;
    line-height: 1.43;
  }

  .content-link-div {
    font-size: 14px;
  }
  .content-link {
    font-size: 14px;
  }

  #final-div {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

/*---------------- Footer CSS ----------------*/
#footer {
  height: 113px;
  background-color: #f5f5f7;
}

#footer-content {
  color: var(--grey);
  font-size: 12px;
  width: 980px;
  margin: 0 auto;
}

#footer-text {
  padding-top: 34px;
  padding-bottom: 8px;
}

#footer-copyright{
  padding-top: 9.1px;
}
/*Footer tablet view media queries*/
@media only screen and (max-width: 1068px) {
  #footer-content {
    width: 720px;
  }
}

/*Footer mobile view media queries*/
@media only screen and (max-width: 734px) {
  #footer-content {
    width:280px;
  }
}